---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Section from "../components/Section.astro";
import CTA from "../components/CTA.astro";
import Strip from "../components/Strip.astro";
import Testimonials from "../components/Testimonials.astro";
import BadgesForTLCS from "../components/BadgesForTLCS.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const headerTitle =
  "Ready to Feel Confident and Successful in Parenting?\nYou're in the right place!";

const headerDescription = [
  `You looked forward to motherhood, and now you don't quite feel cut out for it. It's much harder than you thought it would be. You have plans to “get on top of things” or to “not yell today”, and but then the day wears on and you wonder where your plans went. You know if you could just feel confident then you could be the kind of mom you imagined you'd be.`,
  `I wasn't miserable ALL of the time, just a lot of the time. People would tell me the importance of self-care. Go get a massage. Take a bath. Relax. But I couldn't relax. When I tried, I would just get more worked up about all of the things I needed to do, all of the ways I was failing. A lot of the time, just making the appointments and finding a babysitter, took more effort than I could expend.`,
];

const sectionTitle = "What I offer to you is more than\nself-care.";
const sectionDescription = [
  `It's actually taking care of your mind, so that those other things can actually be relaxing and fulfill their purpose. It's understanding WHY it's so overwhelming to take time for yourself, and WHY if you love your kids so much you want to get away from them, and WHY when your life looks the way you wanted it to, it feels so bad. When you know the WHY, you can figure out the HOW of feeling better. If you don't know the WHY, you'll keep trying things that don't work, or don't last.`,
  `When you sign-up to work with me, we will have a weekly video call over Zoom. During our calls I will teach you tools of confidence specific to motherhood. I will teach you how to feel confident and successful, but most importantly you will have a space to open up about your concerns and where you need help. In this space, you will be amazed at the answers that you’ll find were already inside of you. I am not here to tell you how to parent; I am here to provide a safe place for you to discover how YOU can best parent.`,
];

const sectionTitle2 =
  "I know you may be nervous to talk to someone about what's going on.";
const sectionDescription2 = [
  `What if they ask you questions about things you don't want to talk about? Or what if you don't know what to say? You know you're unhappy, but what are you supposed to talk about?`,
  `Worry no longer. You don't have to talk about anything you don't want to. I will take care of you in the session. I will lead and guide the session, ask questions, listen in whatever way I see you need.`,
];

const stripDescription =
  "While working with me, you will feel more confident, happy, and excited about your life in every area. You will feel empowered to take care of yourself, so that you can take care of the other important people in your life the way you've been wanting to.";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      hr {
        margin: 5rem;
        background-color: #ccc;
        height: var(--border-size-1);
      }
    </style>
  </head>
  <body>
    <Header
      title={headerTitle}
      imgSrc={"/images/deniz-altindas-rocks-unsplash.jpg"}
      description={headerDescription}
    />
    <main>
      <hr />
      <Section title={sectionTitle} description={sectionDescription} />
      <Strip description={stripDescription} />
      <CTA
        title="Sign up now, though, because my calendar fills up fast!"
        description=""
        imgSrc="/images/mug-wall-middle-200x300.jpg"
      />
      <Section title={sectionTitle2} description={sectionDescription2} />
      <Testimonials />
      <CTA
        title="I only open two weeks at a time, so sign-up before the spots are taken!"
        description=""
        buttonLabel="Click here to book a free consultation"
        imgSrc="/images/mug-laptop-looking-up-300x200.jpg"
      />
      <BadgesForTLCS />
    </main>
    <Footer />
  </body>
</html>
