---
const {
  imgSrc = "/images/zhang-kaiyv-drip-unsplash-300x200.jpg",
  title = "Start today.",
  description = "Schedule a FREE 45 minute Consultation to see if coaching is right for you.",
  buttonLabel = "Sign up now!",
  buttonLink = "https://betsyolsen.as.me/",
} = Astro.props;
---

<div class="wrapper">
  <div class="container">
    <div class="image">
      <img src={imgSrc} alt="logo" />
    </div>
    <div class="description">
      <h3>{title}</h3>
      {description && <p>{description}</p>}
      <a href={buttonLink}>{buttonLabel}</a>
    </div>
  </div>
</div>

<style>
  .wrapper {
    width: 100%;
    padding: 1rem;
    margin-top: 5rem;
    background-color: var(--gray-2);
  }
  .container {
    width: min(92vw, 600px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .container .image {
    text-align: center;
    flex: 1;
    padding: 1rem;
    min-width: 300px;
  }
  .container .image img {
    max-width: 100%;
    display: inline;
  }
  .container .description {
    flex: 2;
    padding: 1rem;
    min-width: 200px;
  }
  .container h3 {
    text-align: left;
  }
  .container p {
    padding-top: 2px;
  }
  .container a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #eee;
    border: 1px solid var(--green-4);
    background-color: var(--green-5);
    margin-top: 1rem;
    padding: .5rem;
    text-align: center;
  }
  .container a:hover {
    transform: scale(1.02);
  }
</style>
